extends _bootstrap
append styles
	// Custom styles for this template
	//- link(href='../public/stylesheets/jumbotron.css', rel='stylesheet')
block body
	.jumbotron
		.container
			h1 #{title}
			p
				| This is a boilerplate example of the Send To Messenger CTA Flow. Below are three fake merchant profiles with their own 'Sent To Messenger Buttons', each one will send a discount code from their respective facebook pages
	.container
		.row
			.col-md-4
				h2 Ross Sells Socks
				p
					| Send your discount code to Facebook Messenger!
				p
					a.btn.btn-default(href='#', role='button') Send To Messenger »
			.col-md-4
				h2 Lukes FINE Wares
				p
					| Send your discount code to Facebook Messenger!
				p
					a.btn.btn-default(href='#', role='button') Send To Messenger  »
			.col-md-4
				h2 Chris' Smoke Shack
				p
					| Send your discount code to Facebook Messenger!
				p
					a.btn.btn-default(href='#', role='button') Send To Messenger »
		hr
		footer
			p © Company 2014
	block content